<launch>
  <arg name="audio_device" default="plughw:2,0"/>
  <arg name="playback_device" default="plughw:2,0"/>
  <arg name="wake_phrase" default="hey robot"/>
  <arg name="wake_aliases" default="hey robot,hi robot,hey robots,hi robots,hey robo,hi robo,hey robert,hi robert"/>
  <arg name="wake_engine" default="cloud"/>
  <arg name="stt_model" default="gpt-4o-transcribe"/>
  <arg name="command_start_delay" default="0.15"/>
  <arg name="wake_feedback_mode" default="beep"/>
  <arg name="beep_duration" default="0.16"/>
  <arg name="camera_source" default="csi"/>
  <arg name="camera_device" default="/dev/video0"/>

  <node pkg="dingo_gpt" type="tts_node.py" name="tts_node" output="screen">
    <param name="playback_device" value="$(arg playback_device)"/>
  </node>

  <node pkg="dingo_gpt" type="stt_node.py" name="stt_node" output="screen">
    <param name="model" value="$(arg stt_model)"/>
  </node>

  <node pkg="dingo_gpt" type="intent_llm_node.py" name="intent_llm_node" output="screen">
    <param name="speak_unknown" value="false"/>
  </node>

  <node pkg="dingo_gpt" type="scene_describer_node.py" name="scene_describer_node" output="screen">
    <param name="camera_source" value="$(arg camera_source)"/>
    <param name="camera_device" value="$(arg camera_device)"/>
  </node>

  <node pkg="dingo_gpt" type="wakeup_and_record_node.py" name="wakeup_and_record_node" output="screen">
    <param name="audio_device" value="$(arg audio_device)"/>
    <param name="wake_phrase" value="$(arg wake_phrase)"/>
    <param name="wake_aliases" value="$(arg wake_aliases)"/>
    <param name="wake_engine" value="$(arg wake_engine)"/>
    <param name="stt_model" value="$(arg stt_model)"/>
    <param name="command_start_delay" value="$(arg command_start_delay)"/>
    <param name="playback_device" value="$(arg playback_device)"/>
    <param name="wake_feedback_mode" value="$(arg wake_feedback_mode)"/>
    <param name="beep_duration" value="$(arg beep_duration)"/>
  </node>
</launch>
