<launch>
  <arg name="is_sim" default="0"/>
  <arg name="is_physical" default="1"/>
  <arg name="use_imu" default="0"/>
  <arg name="serial_port" default="/dev/ttyS0"/>
  <arg name="joy_axis_x" default="1"/>
  <arg name="joy_axis_y" default="0"/>
  <arg name="joy_axis_yaw" default="2"/>
  <arg name="joy_axis_height" default="7"/>
  <arg name="joy_button_trot" default="5"/>

  <arg name="audio_device" default="plughw:2,0"/>
  <arg name="playback_device" default="plughw:2,0"/>
  <arg name="wake_phrase" default="hey robot"/>
  <arg name="wake_engine" default="cloud"/>
  <arg name="stt_model" default="gpt-4o-transcribe"/>
  <arg name="command_start_delay" default="0.15"/>
  <arg name="wake_feedback_mode" default="beep"/>
  <arg name="beep_duration" default="0.16"/>

  <arg name="step_duration" default="0.35"/>
  <arg name="linear_axis_value" default="0.5"/>
  <arg name="turn_axis_value" default="0.5"/>
  <arg name="seconds_per_90_degrees" default="3.0"/>

  <include file="$(find dingo)/launch/dingo.launch">
    <arg name="is_sim" value="$(arg is_sim)"/>
    <arg name="is_physical" value="$(arg is_physical)"/>
    <arg name="use_imu" value="$(arg use_imu)"/>
    <arg name="use_keyboard" value="0"/>
    <arg name="use_joystick" value="0"/>
    <arg name="serial_port" value="$(arg serial_port)"/>
    <arg name="joy_axis_x" value="$(arg joy_axis_x)"/>
    <arg name="joy_axis_y" value="$(arg joy_axis_y)"/>
    <arg name="joy_axis_yaw" value="$(arg joy_axis_yaw)"/>
    <arg name="joy_axis_height" value="$(arg joy_axis_height)"/>
    <arg name="joy_button_trot" value="$(arg joy_button_trot)"/>
  </include>

  <include file="$(find dingo_voice)/launch/dingo_voice.launch">
    <arg name="audio_device" value="$(arg audio_device)"/>
    <arg name="playback_device" value="$(arg playback_device)"/>
    <arg name="wake_phrase" value="$(arg wake_phrase)"/>
    <arg name="wake_engine" value="$(arg wake_engine)"/>
    <arg name="stt_model" value="$(arg stt_model)"/>
    <arg name="command_start_delay" value="$(arg command_start_delay)"/>
    <arg name="wake_feedback_mode" value="$(arg wake_feedback_mode)"/>
    <arg name="beep_duration" value="$(arg beep_duration)"/>
  </include>

  <node pkg="dingo_voice" type="voice_command_joy_bridge.py" name="voice_command_joy_bridge" output="screen">
    <param name="step_duration" value="$(arg step_duration)"/>
    <param name="linear_axis_value" value="$(arg linear_axis_value)"/>
    <param name="turn_axis_value" value="$(arg turn_axis_value)"/>
    <param name="seconds_per_90_degrees" value="$(arg seconds_per_90_degrees)"/>
    <param name="joy_topic" value="/joy/voice"/>
    <param name="joy_axis_x" value="$(arg joy_axis_x)"/>
    <param name="joy_axis_y" value="$(arg joy_axis_y)"/>
    <param name="joy_axis_yaw" value="$(arg joy_axis_yaw)"/>
    <param name="joy_axis_height" value="$(arg joy_axis_height)"/>
    <param name="joy_button_trot" value="$(arg joy_button_trot)"/>
  </node>
</launch>
